---
WarningsAsErrors: ''
HeaderFilterRegex: ''
AnalyzeTemporaryDtors: false
FormatStyle:     file
Checks:          '-*,clang-diagnostic-*,clang-analyzer-*,readability-*,-readability-magic-numbers'
...

